body {
  background-color: lightblue;
}

:root {
  --green: rgb(39, 189, 39);
}

h1.memoryHeader{
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman";
}

h2.home{
  text-align: center;

}

h2 {
  margin-bottom: 1rem;
  text-align: left
}

li.kidDetails {
  font-size: 4rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.delete {
  color: black;
  background-color: pink;
  
}

button.secondary {
  background-color: pink;
  text-align: center;
  padding: 0.25rem 2rem;

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}


.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}

main {
  padding: 0 1rem;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 4px solid rgb(16, 14, 13);
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

h2.kids{
  font-size: 3rem;
  font-family: cursive;
  text-align: center;
}

.card {
  margin: 10rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}


@media (min-width: 1200px) {
  .card {
    width: calc(50% - 2rem);
  }
}